@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
*{
  margin: 0px;
  padding: 0px;
}

body{
 background: black;  
 /*transition: background-color 1.5s ease-in-out;*/
}

nav{
  height: 160px;
  background: #212d40;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

nav img{
  height:120px;
  width: 120px;
}

nav p{
  color: white;
  font-size: 75px;
  padding: 0px 30px;
  font-family: 'Poppins', sans-serif;
}

.container{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1{
  color: white;
  font-size: 80px;
  font-family: 'Inter', sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 450px;
}

.songs{
  display: flex;
  align-items: center;
  background: white;
  height: 130px;
  width: 85%;
  border-radius: 100px;
  margin-bottom: 30px;
  
}

.songs p{
  font-size: 40px;
  padding: 40px;
  text-align: center;
  margin-left: 15%;
}

.songs img{
  height: 105px;
  width: 105px;
  margin-left: 20px;
  border-radius: 5000000px;
}

.songs i{
  font-size: 70px;
  margin-left:5px;
}

.bottom{
  background: #212d40;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom img{
  height: 40px;
  width: 150px;
  position: absolute;
  left:100px;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

#seek{
 width: 85%; 
 cursor: pointer;
}

.icons{
  font-size: 80px;
  margin: 15px;
}

.icons i{
  padding: 0px 10px;
  cursor: pointer;
  
}